body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#map {
  height: 90vh;
  width: 100%;
}

.form-box {
  position: fixed;
  top: 10px;
  right: 10px;
  background: white;
  padding: 10px;
  width: 250px;
  box-shadow: 0 0 10px #aaa;
}
